$calculatedHeight: calc(100% - 60px);

.ChatMessages {
  box-sizing: border-box;
  height: $calculatedHeight;
  max-height: $calculatedHeight;
  overflow-y: auto;
  padding: 25px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    img {
      height: auto;
      max-width: 600px;
      width: 80%;
    }
  }

  &__suggestion {
    color: #bbbbbb;
    font-size: 16px;
    line-height: 28px;
    margin-top: 15px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__avatar {
    border-radius: 5px;
    height: 50px;
    margin-right: 15px;
    width: 50px;
  }

  &__profile-name {
    color: #b1b1b1;
    font-size: 12px;

    b {
      color: #ffffff;
      font-size: 16px;
      margin-right: 5px;
    }
  }

  &__content {
    color: #cccccc;
    font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
    white-space: pre-wrap;
  }

  &__break-line {
    height: 20px;
  }
}
