@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@mixin entry-animation {
  animation: cubic-bezier(0.77, 0, 0.175, 1) 1s zoomIn;
}
