@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

.ProfilePickerSection {
  animation: cubic-bezier(0.77, 0, 0.175, 1) 1s zoomIn;
  color: white;
  padding: 25px;

  &__title {
    font-size: 25px;
    position: relative;
    text-align: center;

    &::before {
      content: '';
      background: url('../../assets/images/icons/back.svg');
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
