.NavMenuChannels {
  &__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__title {
    font-weight: 600;
  }

  &__button {
    cursor: pointer;
  }

  &__channels {
    margin-top: 15px;
  }

  &__channel-name {
    color: rgb(160, 160, 160);
    cursor: pointer;
    margin-bottom: 15px;
  }

  &__modal {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__card {
    background-color: #1d1c20;
    color: #ffffff;
    outline: none;
    padding: 25px;
    text-align: center;
  }

  &__snackbar {
    position: fixed !important;
    width: 270px;
  }
}
