@import './styles/custom-styles.scss';

body,
html {
  background-color: #1d1c20;
  font-family: Rubik, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  line-height: 20px;
  margin: 0;
}

h4 {
  margin: 0;
}

.MuiPaper-root {
  background-color: #1d1c20 !important;
  border: 1px solid #404040;
}

.MuiAlert-filledSuccess {
  background-color: #4caf50 !important;
}
